app-survey {
  ion-content {
    height: 100%;
  }
  ion-card {
    padding: 10px;
    border-radius: 16px !important;
    background: #abf7dfcf !important;
    border: 1px solid #a99e9e;
  }

  .correctAnswer {
    background: #73c173 !important;
    color: white;
  
  }
  .wrongAnswer {
    background: #e20f0f !important;
    color: white;

  }
}
