<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Survey</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid padding>
    <ion-row text-center>
      <p>
        {{surveyQuestions.label}}

      </p>
      <ion-col>
        <ion-card [ngClass]="item.class" *ngFor="let item of surveyQuestions.data;let i= index"
          (click)="onItemClick(item,i)">

          {{item.label}}
        </ion-card>

      </ion-col>
    </ion-row>

    <div style="text-align: center;margin-top:20%">
      <p *ngIf="message=='1'" style="color:#73c173 ">Yay! you got this right!</p>
      <p *ngIf="message=='2'" style="color:#e20f0f ">You have selected an incorrect option!</p>
    </div>
  </ion-grid>


  <div style="bottom:0px;position: absolute;width: 100%;">
    <ion-button [disabled]="message!=1" style="width: 100%;margin: 0px" (click)="navigate()">
      SUBMIT
    </ion-button>
  </div>

</ion-content>