app-login {
 

  ion-content {
    height: 100%;
  }

  ion-grid {
    height: 100%;

    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
   
  }

 
  .item.item-input {
    border-bottom: 1px solid #c0ccda;
    position: relative;
    background-color: transparent;
    width: 100%;
  }

  .item.item-input > span {
    width: auto;
  }
  .item.item-input > input {
    width: 68%;
  }

  
  h2 {
    background: linear-gradient(to right, #84ace4, #5fb337);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-family: "Changa", sans-serif !important;
    text-align: center;
  }
}
