<ion-content padding>
  <ion-grid text-center>
    <ion-row>
      <ion-col>
        <h2>Big Survey</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <form novalidate (ngSubmit)="loginForm.valid && onSubmitLoginForm()" #loginForm="ngForm"
        style="flex: 1;align-self:center">
        <ion-list inset>
          <ion-row>

            <ion-item>

              <ion-label position="stacked">
                Username
              </ion-label>

              <ion-input required type="text" [(ngModel)]="componentModel.username"     #username="ngModel"
                (ngModelChange)="componentModel.username = $event.toLocaleUpperCase()" name="username"
                (change)="componentModel.username=componentModel.username.trim() ">

              </ion-input>

            </ion-item>
            <div class="app-error" *ngIf="isButtonClicked&&username.hasError('required')">
              Name is required
            </div>

            <ion-item>
              <ion-label position="stacked">
                Password
              </ion-label>
              <ion-input required type="password" [(ngModel)]="componentModel.password" name="password"  #password="ngModel"
                (change)="componentModel.password=componentModel.password.trim()">

              </ion-input>

            </ion-item>
            <div class="app-error" *ngIf="isButtonClicked&&password.hasError('required')">
              Password is required
            </div>
          </ion-row>
        </ion-list>

        <ion-row>
          <ion-col>

            <ion-button expand="full" type="submit" (click)="isButtonClicked=true">Login</ion-button>
          </ion-col>
        </ion-row>
        <!-- <ion-label text-center style="color: #8492A6"> Forgot password?</ion-label> -->
      </form>
    </ion-row>
  </ion-grid>


</ion-content>