<ion-header >
  <ion-toolbar color="primary">
    <ion-title>Thank you</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%;justify-content: center">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-col text-center>
          <h1>Thank you</h1>
          <div>
              <img style="width: 30%;" src="assets/image/smily.jpg" class="notification-button">
          </div>

      </ion-col>
     

    </ion-row>
  </ion-grid>


</ion-content>