app-verify-otp {
  ion-content {
    height: 100%;
  }

  .sc-ion-input-md-h {
    --padding-top: 10px;
    --padding-end: 0;
    --padding-bottom: 10px;
    --padding-start: 8px;
    font-size: inherit;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px;
    --padding-start: 7px;
    border: 1px solid black;
    font-size: 55px;
  }
}
