<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Enter Authentication code</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding>
  <ion-grid text-center>
    <ion-row>
      <ion-col>
        <p>{{!this.isVerify?'OTP will be sent to':'Please enter the OTP sent to'}}</p>
        <p></p>
        <p>+91-12345-12345</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <form novalidate (ngSubmit)="otpForm.valid &&onSubmitLoginForm()" #otpForm="ngForm"
        style="flex: 1;align-self:center">
        <ion-row text-center>
          <ion-col>
            <ion-input name="otp1" required #otp1 type="password" required maxLength="1"
              (keyup)="otpController($event,otp2,'')" [(ngModel)]="otp[0]">
            </ion-input>
            <ion-input name="otp2" required #otp2 type="password" required maxLength="1"
              (keyup)="otpController($event,otp3,otp1)" [(ngModel)]="otp[1]">
            </ion-input>
            <ion-input name="otp3" required #otp3 type="password" required maxLength="1"
              (keyup)="otpController($event,otp4,otp2)" [(ngModel)]="otp[2]">
            </ion-input>
            <ion-input name="otp4" required #otp4 type="password" required maxLength="1"
              (keyup)="otpController($event,'',otp3)" [(ngModel)]="otp[3]">
            </ion-input>
            <ion-icon style="margin-bottom: 5%" name="eye-off"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="!hidevalue" style="justify-content: center;">
          <h5>{{maxtime}}</h5>
        </ion-row>

        <ion-row style="justify-content: center;" (click)="resendOTP()">
          <ion-label color="primary">
            Resend Authentication Code
          </ion-label>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button *ngIf="!this.isVerify" expand="full" type="button" (click)="onSubmitLoginForm()">Send OTP</ion-button>

            <ion-button *ngIf="this.isVerify" expand="full" type="submit">Verify</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-row>
  </ion-grid>


</ion-content>