<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Take Picture</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid padding *ngIf="!currentImage">
    <ion-row style="justify-content: center;text-align: center">
      <img style="width: 30%;" src="assets/image/camera.png" class="notification-button">
      <div style="font-weight: bold;">Take a selfie with the Coca cola standie at your
        store with 2 customers</div>
      <div style="font-style: italic;color: grey; margin-top: 5px;">
        Complete this task to get 1 tickets to unlock the play the daily wheel of furtune
      </div>
      <ion-row style="margin-top:5%">
        <div style="width: 15px;height:15px;border-radius: 50%;background-color: yellowgreen;margin-right: 5px"></div>
        <div style="font-size: 12px">1</div>
      </ion-row>
    </ion-row>
    <div style="border-bottom:1px solid black;margin-top: 5%"></div>

    <ion-row style="margin-top:5%">
      <div style="font-weight: bold;">Description:</div>
      <div>

        Our market representative must have given
        you a standie to be displayed at your store.
        What you need to do is go and stand near the standie and click a picture of yourself
        with the standie.The picture has to be clicked from with in the app and no gallery upload is allowd for this
        task.
      </div>
    </ion-row>

    <p style="text-align: center;margin-top:10%;font-style: italic;color: grey;">Click on Start task when you are ready
    </p>
  </ion-grid>

  <ion-row *ngIf="currentImage" style="justify-content: center">
    <img style="width: 100%;
    height: 40vh;max-width:unset" [src]="currentImage">


    <div style="margin-top: 10%">
      Make sure the entire standy is visible in this image.Are you sure you want to submit this?
    </div>


    <ion-button (click)="startTask()" style="margin-top: 10%">
      Go back to camera
    </ion-button>

  </ion-row>

  <div style="bottom:0px;position: absolute;width: 100%;">
    <ion-button style="width: 100%;margin: 0px" (click)="startTask()" *ngIf="!isSubmit">
      START TASK
    </ion-button>
    <ion-button style="width: 100%;margin: 0px" (click)="navigate()" *ngIf="isSubmit">
      SUBMIT THIS PICTURE
    </ion-button>
  </div>
</ion-content>